---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import PopularTools from '../components/PopularTools.astro';
import FeaturedTools from '../components/FeaturedTools.astro';
import PremiumFooter from '../components/PremiumFooter.astro';
---

<Layout title="TinyWow - Free Tools to Make Your Life Simple">
  <Navbar />
  <main>
    <Hero />
    <PopularTools />
    <FeaturedTools />
    <PremiumFooter />
  </main>
</Layout>
